{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 38.246242,
    "longitude": 21.7350847,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Bucharest",
    "external_url": "https://ha.smart-wastebin.com",
    "internal_url": "http://192.168.137.94:8123",
    "currency": "EUR",
    "country": "GR",
    "language": "en",
    "radius": 100
  }
}